@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Butterfly+Kids&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 38px;
        font-weight: 700;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
    }
}

@layer components {
    .glass-container {
        border-radius: 12px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.20);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .bg-gradient {
        background-image: linear-gradient(to bottom, #7bd3ea, #89e0de, #a8ebd0, #cff2c5, #f6f7c4);
    }
}

/*RESETS, GLOBAL STYLES*/
input, textarea {
    font-size: 16px !important;
}

* {
    font-family: "Abhaya Libre", serif;
    min-width: 0;
}


html, body, #root, main {
    background-image: linear-gradient(to bottom, #7bd3ea, #89e0de, #a8ebd0, #cff2c5, #f6f7c4);


    /*dvh is not globally supported (e.g. firefox does not support it), so vh in here is necessary*/
    max-height: 100vh;
    max-height: 100dvh;
    height: 100vh;
    height: 100dvh;
}